body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #383838;
}

.game {
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  row-gap: 1rem;
  column-gap: 2rem;
}

.score {
  text-align: center;
  font-size: 5rem;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;

  aspect-ratio: 1/1;
}

.p1 {
  --button-color: hsl(49, 78%, 49%);
  --button-text: #5c4b00;
}

.p2 {
  --button-color: hsl(131, 78%, 43%);
  --button-text: #00490d;
}

.points-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  background-color: var(--button-color);
  color: var(--button-text);
  border: 0.5px solid var(--button-text);
}

.game-button {
  grid-column: span 2;
  background: #f2f2f2;
  border: 0.5px solid #cccccc;
  padding: 0.6rem;
  text-align: center;
  font-weight: 500;
}

.points-button,
.game-button {
  border-radius: 0.5rem;
}
